.main{
    margin: 0;
}

.top__block{
    background:rgb(255, 255, 255, 1);
    background-size: cover;
    height: 360px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 250px;
}
.header__logo{
    height: 26px;
    width: 92px;
}
.header__navbar{
    top: 10px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-right: 270px;
}
.navbar__items{
    display: flex;
    list-style: none;
}
.navbar__item{
    text-decoration: none;
    margin: 27px;
}
.header-item{
    color: #2E2E2E;
}
.headline{
    text-align: center;
    margin-top: 103px;
}
.headline__title{
    position: center;
    top: 177px;
    left: calc(50% - 498px/2);
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    color: rgba(46, 46, 46, 1);
    ;

}
.headline__text{
    position: center;
    left: calc(50% - 504px/2);
    margin-top: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
}
.content__post-image{
    width: 100%;
    height: 534px;
    background-size: cover;
}
.content__post-text{
    margin-top: 140px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 135px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}
.down{
    margin: 0px;
}
.down__background-img{
    position: absolute;
    width: 100%; 
    height: 378px;
    z-index: -1; 
}
.down__header{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
}
.header__title{
    margin-top: 81px;
    color: rgba(255, 255, 255, 1);
    width: 158px;
    height: 30px;   
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF; 
}
.header__rect{
    position: relative;
    width: 188px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.header__submit-form{
    display: flex;
    flex-direction: row;
}
.submit-form__input{
    width: 375px;
    height: 50px;
    margin-left: 0px;
    outline: 0;
    border: none;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 35px;
}
.submit-form__button{
    width: 125px;
    height: 52px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border: none;
    margin-left: 0px;
    color: #F8F8F8;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.footer{
    margin-top: 90px;
    padding-left: 250px;
    z-index: -1;
    background: rgba(35, 47, 56, 0.6);
    height: 87px;
}
.footer-item{
    color: rgba(255, 255, 255, 0.6);
}
.footer__logo{
    height: 26px;
    width: 92px;
    margin-top: 31px;
}
.footer__navbar{
    top: 10px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-right: 270px;
    margin-top: 24px;
}